body {
  font: 10px sans-serif;
}

.axis path,
.axis line, 
.goalline, 
.projline {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}




image {
	pointer-events: none;
	z-index: -1;
}

#left-side-bar {
  z-index: 100;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 70%;
  left: -50%;
}

/* FOR CR/NR BAR */
#CRNR {
}
#container {
  position: absolute;
  left: 20px;
  top: 20px;
  /*display: inline;*/
  /*float: left;*/
}
#container1 {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 800px;
  height: 90px;
}
#container1 > svg {
    width: 100%;
    display: block;
    position: absolute;
}
#container {
    width: 600px;
    height: 90px;
    position: relative;
    /*border-right: 2px solid black;*/
}

#container > svg {
    width: 100%;
    display: block;
    position: absolute;
}
